PROJECT_NAME=StatForge
ENVIRONMENT=development
API_VERSION=0.1.0
API_PREFIX=/api/v1
SECRET_KEY=change-me-in-production
ACCESS_TOKEN_EXPIRE_MINUTES=60
JWT_ALGORITHM=HS256
DATABASE_URL=postgresql+psycopg://statforge:statforge@db:5432/statforge
BACKEND_CORS_ORIGINS=http://localhost:4173
EXTERNAL_TIMEOUT_SECONDS=20
PROVIDER_CACHE_TTL_MINUTES=30
RIOT_API_KEY=
RIOT_BASE_URL_ACCOUNTS=https://americas.api.riotgames.com
RIOT_BASE_URL_LOL_PLATFORM=https://br1.api.riotgames.com
RIOT_BASE_URL_LOL_REGIONAL=https://americas.api.riotgames.com
RIOT_DDRAGON_BASE_URL=https://ddragon.leagueoflegends.com
HENRIK_API_KEY=
HENRIK_BASE_URL=https://api.henrikdev.xyz
FACEIT_API_KEY=
FACEIT_BASE_URL=https://open.faceit.com/data/v4
FORTNITE_API_KEY=
FORTNITE_BASE_URL=https://fortnite-api.com
OVERFAST_BASE_URL=https://overfast-api.tekrop.fr
VALORANT_CONTENT_BASE_URL=https://valorant-api.com
